<div id = "sign-in-nav">
	<a href = "/" id = "backaddmed">
		<img src = "/assets/ui-back-arrow-gray.png">
		<p>Back</p>
	</a>
	<h1 class = "empty-page-label">Register</h1>
</div>

<form action="/register" method = "post">
	<p class = "large-textinput-label">Full Name:</p>
	<input class = "large-textinput center" id = "autocomplete" type = "text" autocomplete="off" autocorrect="off" spellcheck="false" name = "username">

	<p class = "large-textinput-label">Access Code:</p>
	<input class = "large-textinput center" id = "autocomplete" type = "text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name = "access">

	<p class = "large-textinput-label">Desired Password:</p>
	<input class = "large-textinput center" id = "autocomplete" type = "text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name = "password">

	<input class = "submit-med-form input-sub-med" type = "submit" value = "Sign In">
</form>