#medication-list-view {
	width: 100%;
	height: calc(100% - 61px);
	background-color: #fcfdfe;
	border-top: 1px solid #e3e7ea;
	overflow: scroll;
}
#medications-applet {
	width: calc(70% - 70px);
	height: calc(100% - 48px);
	border-radius: 4px;
	border: 1px solid #e3e7ea;
	margin: 20px 0 0 28px;
	overflow: hidden;
}
#medication-list-header {
	width: 100%;
	height: 60px;
	background-color: white;
}
.med-list-heart-icn {
	height: 19px;
	margin: 20px 0 0 20px;
	position: absolute;
}
#medication-list-header p {
	font-family: 'Montserrat';
	color: #525c62;
	speak: none;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	margin: 21px 0 0 53px;
	display: inline-block;
}
.med-table-cell {
	width: calc(100% - 20px);
	height: 50px;
	border: 1px solid #e3e7ea;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px 9px 0 0;
	float: right;
	position: relative;
	z-index: 3;
}
.med-table-cell:hover {
	background-color: #fcfdfe;
}
p {
	font-family: 'Montserrat';
	color: #525c62;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.med-cell-label {
	font-size: 13px;
	margin: 16px 0 0 25px;
	position: absolute;
}
.med-cell-text {
	font-size: 13px;
	margin: 17px 0 0 0;
	position: absolute;
	width: 100%;
	text-align: center;
}
.viewmed-btn {
	position: absolute;
	height: 15px;
	margin-top: 17px;
	right: 20px;
}
.med-delete-icn {
	position: absolute;
	height: 23px;
	margin: 23px 0 0 22px;
	cursor: pointer;
}
#med-interaction-field {
	width: calc(30% - 20px);
	min-width: 300px;
	height: 150px;
	max-height: calc(100% - 62px);
	position: absolute;
	left: calc(70% - 12px);
	top: 20px;
	overflow: scroll;
	background-color: #fcfdfe;
	border-radius: 4px;
	border: 1px solid #e3e7ea;
}
#interaction-circle {
	width: 100px;
	height: 100px;
	background-color: #50bae2;
	display: inline-block;
	border-radius: 50px;
	position: absolute;
	left: calc(50% - 50px);
	top: 40px;
}
#interaction-circle p {
	width: 100px;
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: 'Roboto Light';
	margin-top: 27px;
}
#interaction-label {
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-top: 170px;
}
input {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.form-nav-header {
	width: 100%;
	border-bottom: 1px solid #e3e7ea;
	height: 60px;
}
.form-nav-back-btn {
	height: 18px;
	margin: 21px 0 0 30px;
	position: absolute;
	cursor: pointer;
}
.form-nav-title {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 21px;
	pointer-events: none;
}
.large-textinput {
	width: 50%;
	border-radius: 2px;
	border: 1px solid #e3e7ea;
	height: 30px;
	font-family: 'Montserrat';
	outline: none;
	padding-left: 10px;
	margin-top: 10px;
}
.center {
	margin-left: 50%;
	-webkit-transform: translate(-50%, 0);
}
.large-textinput-label {
	font-size: 11px;
	margin: 20px 0 0 25%;
}
input {
	font-family: 'Montserrat';
	color: #525c62;
}
select {
	font-family: 'Montserrat';
	color: #525c62;
}
textarea {
	font-family: 'Montserrat';
	color: #525c62;
}
.dual-selector {
	width: 300px;
	border-radius: 4px;
	border: 1px solid #e3e7ea;
	height: 50px;
	margin: 10px 0 0 calc(50% - 150px);
}
.dual-selector-onehalf {
	display: inline-block;
	width: 148px;
	height: 50px;
	border-right: 1px solid #e3e7ea;
}
.dual-selector-numinput {
	outline: none;
	border: none;
	width: 146px;
	margin-top: 13px;
	text-align: center;
	position: relative;
	font-size: 14px;
}
.dual-selector-numinput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: none;
}
.dual-selector-twohalf {
	display: inline-block;
}
.dual-selector-select {
	width: 80px;
	height: 45px;
	outline: none;
	font-size: 14px;
	border: none;
	margin-left: 60px;
	position: relative;
	-webkit-appearance: none;
}
.dual-selector-label {
	font-size: 11px;
	margin: 20px 0 0 calc(50% - 150px);
}
.ui-delete-icn {
	height: 25px;
	position: absolute;
	left: calc(70% - 85px);
	margin-top: 16px;
	cursor: pointer;
	opacity: .7;
}
.sole-selector-select {
	width: 90px;
	height: 50px;
	outline: none;
	font-size: 14px;
	border: none;
	margin-left: 60px;
	position: relative;
	-webkit-appearance: none;
}
.sole-selector-select-container {
	width: 150px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #e3e7ea;
	position: absolute;
	left: calc(50% + 50px);
	margin-top: 10px;
}
.sole-selector-numinput-container {
	width: 150px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #e3e7ea;
	position: absolute;
	left: calc(50% - 200px);
	margin-top: 10px;
}
.sole-selector-numinput {
	outline: none;
	border: none;
	width: 146px;
	margin-top: 15px;
	text-align: center;
	position: relative;
	font-size: 14px;
}
.sole-selector-numinput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: none;
}
.schedule-times-label {
	position: absolute;
	font-size: 11px;
	margin-top: 29px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
.schedule-label {
	font-size: 11px;
	margin: 20px 0 0 calc(50% - 200px);
}
.ui-large-btn {
	width: 250px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e3e7ea;
	margin: 76px 0 0 50%;
	-webkit-transform: translate(-50%, -50%);
	cursor: pointer;
	background-color: white;
}
.ui-large-btn p {
	width: 100%;
	text-align: center;
	margin: 20px 0 0 0;
	-webkit-transform: translate(0, -50%);
}
.ui-large-btn:hover {
	background-color: #dcf5e7;
}
.upper-left-label {
	font-size: 14px;
	margin: 20px 0 0 25px;
}
.left-edit-icon {
	height: 22px;
	float: right;
	margin: 19px 30px 0 0;
	cursor: pointer;
}
#interactions-found {
	display: inline-block;
	font-size: 13px;
	margin: 15px 0 0 15px;
}
.alert-img {
	position: absolute;
	height: 20px;
	right: 15px;
	margin-top: 13px;
}
.interaction-box {
	width: calc(100% - 31px);
	margin: 15px 0 0 15px;
	height: auto;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #e3e7ea;
}
.int-title {
	font-size: 13px;
	margin: 8px 0 8px 13px;
}
.int-divider {
	width: 100%;
	height: 1px;
	background-color: #e3e7ea;
}
.int-body {
	font-size: 13px;
	width: calc(100% - 27px);
	margin: 10px 0 0 13px;
	padding-bottom: 13px;
}
.popup3 {
	position: absolute;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	top: 30px;
	left: 30px;
	border-radius: 5px;
	background-color: white;
	z-index: 20;
	overflow-y: scroll;
	overflow-x: hidden;
}
#popup-cancel-button {
	position: absolute;
	margin: 21px 0 0 30px;
	cursor: pointer;
}
#popup-update-button {
	position: absolute;
	margin: 21px 0 0 0;
	right: 30px;
	cursor: pointer;
}



































































