#backaddmed img {
	height: 15px;
	margin-top: 32px;
	margin-left: 30px;
   position: absolute;
}
#backaddmed p {
	font-family: 'Montserrat';
   color: #a3acb3;
	-webkit-font-smoothing: antialiased;
  	font-size: 15px;
  	display: inline;
  	margin-left: 47px;
  	margin-top: 30px;
  	position: absolute;
}
.empty-page-label {
   font-family: 'Montserrat';
   color: #525c62;
   speak: none;
   -webkit-font-smoothing: antialiased;
   font-size: 18px;
   width: 100%;
   top: 29px;
   pointer-events: none;
   text-align: center;
   position: absolute;
   font-weight: lighter;
}
#sign-in-nav {
   height: 80px;
   border-bottom: 1px solid #e3e7ea;
   width: 100%;
}




























